@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
 
  ::selection {
    background: #8884;
  }

  ::-webkit-scrollbar {
    width: 0.31rem;
    height: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl(var(--muted)) !important;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: calc(var(--radius) - 4px);
    background-color: hsl(var(--secondary) / 0.3) !important;
  }
  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }
  
  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }

  .dark{
    color-scheme: dark
  }
}


